<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umelecka skola</title>
</head>
<body>
    <h1>Hello World</h1>
    <form action="/db">
        <input type="submit" value = "Create tables">
    </form>
    <form action="/dropdb">
        <input type="submit" value = "Drop tables">
    </form>
    <form action="/insert">
        <input type="submit" value = "Insert data">
    </form>
</body>
</html>