{% extends "base.html" %}

{% block head %}
    <title>Moje vypůjčená zařízení</title>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block body %}
    <h1>Moje vypůjčená zařízení</h1>
    {#
    <p>ID aktuálního uživatele: {{ user_id }}</p>
    #}
    <table>
        <thead>
            <tr>
                <th>Název zařízení</th>
                <th>Stav</th>
                <th>Datum od</th>
                <th>Datum do</th>
                <th>Ateliér</th>
                <th>Vyučující</th>
            </tr>
        </thead>
        <tbody>
            {% for borrowed in borrow %}
            <tr>
                <td>{{ borrowed.zarizeni.nazev }}</td>
                <td>{{ borrowed.stav }}</td>
                <td>{{ borrowed.datum_od.strftime('%Y-%m-%d') }}</td>
                <td>{{ borrowed.datum_do.strftime('%Y-%m-%d') }}</td>
                <td>{{ borrowed.zarizeni.atelier.nazev }}</td>
                <td>{{ borrowed.zarizeni.vyucujici.login }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}